<head>
	<title>The Psychic Game</title>
	<style>
			html {
	font-family: sans-serif;
	}

			body {
	width: 50%;
	max-width: 800px;
	min-width: 480px;
	margin: 0 auto;
	background-color: gray;
	}
</style>
</head>